@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
.product-images-slider {
	width: 300px;
	position: relative;
	top: 10px;
	left: 140px;
}

.product-home-img {
  height: 320px;
  padding: 10px;
}
.product-home-body {
  height: 190px;
  .product-name {
    height: 30px;
    line-height: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}